[submodule "mppw"]
	path = mppw
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/material-process-warehouse-api.git
[submodule "mppw_web"]
	path = mppw_web
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/material-process-warehouse-webui.git
[submodule "mppw_analysis/laam_image_analysis"]
	path = mppw_analysis/laam_image_analysis
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/laam-image-analysis-module.git
[submodule "mppw_analysis/laam-analysis"]
	path = mppw_analysis/laam_analysis
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/laam-analysis-module.git
[submodule "mppw_analysis/process-property-analysis"]
	path = mppw_analysis/process_property_analysis
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/process-property-analysis-module.git
[submodule "mppw_analysis/material_analysis"]
	path = mppw_analysis/material_analysis
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/material-analysis-module.git
[submodule "mppw_clients"]
	path = mppw_clients
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/material-process-warehouse-clients.git
