[submodule "mppw_clients"]
	path = mppw_clients
	url = git@gitlab.composites.umaine.edu:DataProcessing/material-process-warehouse-clients.git
[submodule "mech_analysis"]
	path = mat_analysis
	url = git@gitlab.composites.umaine.edu:DataProcessing/cherry.git
[submodule "prop_analysis"]
	path = prop_analysis
	url = git@gitlab.composites.umaine.edu:DataProcessing/mppw-image-processing-experiments.git
[submodule "mppw"]
	path = mppw
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/material-process-warehouse-api.git
[submodule "mppw_web"]
	path = mppw_web
	url = git@gitlab.com:composites-maine-edu/advancing-rapid-prototyping/material-process-warehouse-webui.git
