[submodule "mppw/post/fff"]
	path = fff_post
	url = git@gitlab.composites.umaine.edu:DataProcessing/Thermal.git
[submodule "mppw_clients"]
	path = mppw_clients
	url = git@gitlab.composites.umaine.edu:DataProcessing/material-process-warehouse-clients.git
